body {
  background-color: lightblue;
}
.container {
  background-color:lightblue;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  font-family: 'open sans';
  color:white;
}

input {
  width:100%;
  margin: 0;
  border:0;
  padding:0;
}

#additionBtn, #subtractionBtn, #multiplicationBtn, #divisionBtn {
  background-color:lightblue;
  border:1px solid white;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  width:100%;
  margin: 0;
}

#additionBtn, #subtractionBtn, #multiplicationBtn, #divisionBtn:active {
  position:relative;
  top:1px;
}
