body {
  background-color: lightblue;
}
.container {
  background-color:lightblue;
  margin-left: auto;
  margin-right: auto;
  width:300px;
}

#calculateBtn {
  background-color:#A3B3BF;
  font-size: 0.7em;
  display:inline-block;
}